*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #EEAECA;
background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.container{
   max-width: 95vw;
   padding: 2rem 1rem;
    margin: 0  auto;
    padding-bottom: 0;
}
.head_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: #2b2829;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
main{
    max-width: 95vw;
}
.main_container{
    margin-top: 25px;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);

}
.top_para{
    font-size: 1.2rem;
}
.card_image_container img{
    border: 2px solid
     wheat ;
    height: 220px;
    width: 320px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.hover{
    width: 340px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover:hover{
    border: 2px solid #007bff; 
}
.card_container{
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    padding-bottom: 1rem;
    border: 1px solid #e0e0e0;  
    border-radius: 10px;                 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    background-color: #fff;

}

.left  img{
    height: 2rem;
}
.mid{
    margin-left: 20px;
    text-align: start;
}
.bottom{
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.left{
    display: flex;
    gap: 7px;
    margin-right: 90px;
}
.footer{
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.footer  a{
    text-decoration: none;
    color: black;
}